{extend name="public/base_weui" /}

{block name="title"}
        <title>消息提示</title>
        <meta name="keyword" content="消息提示">
        <meta name="description" content="消息提示">
{/block}
{block name="head"}
<style>

</style>


{/block}<!--end head-->

{block name="body"}

<div class="page__bd">

	<div class="weui-msg">
		 <?php switch ($code) {?>
            <?php case 1:?>
				<div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
				<div class="weui-msg__text-area">
					<h2 class="weui-msg__title">操作成功</h2>
					<p class="weui-msg__desc"><?php echo(strip_tags($msg));?></p>
					<br/>
					<p class="weui-msg__desc" class="jump">
						页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
					</p>
				</div>
			 <?php break;?>
            <?php case 0:?>
				<div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
				<div class="weui-msg__text-area">
					<h2 class="weui-msg__title">操作失败</h2>
					<p class="weui-msg__desc"><?php echo(strip_tags($msg));?></p>
					<br/>
					<p class="weui-msg__desc" class="jump">
						页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
					</p>
				</div>
			 <?php break;?>
        <?php } ?>
		

		


		
		<div class="weui-msg__extra-area">
			<div class="weui-footer">
				<p class="weui-footer__text">{$settings.copyright}</p>
			</div>
		</div>
	</div>



</div>

{/block}<!--end body-->


{block name="footer_js"}

<script type="text/javascript">
	(function(){
		var wait = document.getElementById('wait'),
			href = document.getElementById('href').href;
		var interval = setInterval(function(){
			var time = --wait.innerHTML;
			if(time <= 0) {
				location.href = href;
				clearInterval(interval);
			};
		}, 1000);
	})();
</script>

{/block}