{extend name="public/base_admin" /}

{block name="title"}
        <title>{$settings['name']|default='快查云平台'}</title>
        <meta name="keyword" content="">
        <meta name="description" content="">
{/block}
{block name="head"}
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="/static/webuploader/css/webuploader.css">

<style>

	
</style>
{/block}<!--end head-->

{block name="body"}




<form action="<?php echo \think\Url::build('setting');?>" method="post" id="save_form">

	<div class="weui-flex">
		<div class="weui-flex__item">

					<div class="weui-cells weui-cells_form mt0">
						<div class="weui-cells__title">系统设置</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">系统名称</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" id="setting_name"  placeholder="系统名称" value="{$settings['name']|default='快查云平台'}"/>
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">底部版权</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" id="setting_copyright"  placeholder="底部版权" value="{$settings['copyright']|default='Copyright &copy; 2008-2016 ppsao.com'}"/>
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">备案号</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" id="setting_beian"  placeholder="备案号" value="{$settings['beian']|default=''}"/>
							</div>
						</div>

					</div>

					<div class="weui-cells weui-cells_form">
						<div class="weui-cells__title">微信分享接口设置</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">appid</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" id="setting_appid"  placeholder="微信接口appid" value="{$settings['appid']|default=''}"/>
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">appsecret</label></div>
							<div class="weui-cell__bd">
								{if condition="$_user['email'] neq 'test@qq.com'"}
								<input class="weui-input" type="text" id="setting_appsecret"  placeholder="微信接口appid" value="{$settings['appsecret']|default=''}"/>
								{/if}
							</div>
						</div>
						
						<div class="weui-cell">
							<div class="weui-cell__hd">请在公众号设置 > 功能设置 > 设置JS接口安全域名</div>
						</div>

						<div class="weui-cells weui-cells_checkbox">
							<label class="weui-cell weui-check__label" for="setting_is_wxpay">
								<div class="weui-cell__hd">
									<input type="checkbox" class="weui-check" id="setting_is_wxpay" value="1" {if $settings['is_wxpay'] eq 1}checked="true"{/if}>
									<i class="weui-icon-checked"></i>
								</div>
								<div class="weui-cell__bd">
									<p>开启商品码支付（* 服务号并开通微信支付）</p>
								</div>
							</label>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">商户ID</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" id="setting_wxpay_mchid"  placeholder="微信接口appid" value="{$settings['wxpay_mchid']|default=''}"/>
							</div>
						</div>
						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">支付密钥Key</label></div>
							<div class="weui-cell__bd">
								{if condition="$_user['email'] neq 'test@qq.com'"}
								<input class="weui-input" type="text" id="setting_wxpay_key"  placeholder="微信接口appid" value="{$settings['wxpay_key']|default=''}"/>
								{/if}
							</div>
						</div>
						

						<div class="weui-cell">
							<div class="weui-cell__bd">
								<div class="weui-uploader">
									<div class="weui-uploader__hd">
										<p class="weui-uploader__title">客服微信二维码上传</p>
									</div>
									<div class="weui-uploader__bd">
										<ul class="weui-uploader__files" id="uploaderFiles">
											<li class="weui-uploader__file" style="background-image:url({$settings['wxkefu']|default='/static/images/ico_user.png'})" id="prview-wxkefu"></li>
										</ul>
										<div class="weui-uploader__input-box">
											<input type="hidden" id="setting_wxkefu" value="{$settings['wxkefu']|default=''}">
											<input type="hidden" id="setting_wxkefu_aid"  value="">
											<div id="picker-wxkefu" class="weui-uploader__input">选择图上传</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="weui-cell">
							<div class="weui-cell__hd">
								<p>
									参考教程：<a href="http://www.mobanma.com/news/view/id/18.html" target="_blank">微信支付设置教程</a>
								</p>
								<p>
									用户菜单设置：<br/>
									我的订单（<?php echo \think\Url::build('/index/goods/order','','.html',true);?>）
								</p>
							</div>
						</div>

						

						

					</div>


		</div>
		<div class="weui-flex__item">

				<div class="weui-cells weui-cells_form mt0">

					<div class="weui-cells__title">微信访问时：下拉背景显示设置</div>
					<div class="weui-cell weui-cell_select weui-cell_select-after">
						<div class="weui-cell__hd">
							<label for="" class="weui-label">下拉声明</label>
						</div>
						<div class="weui-cell__bd">
							<select class="weui-select" id="setting_is_touchmove" >
								<option value="0" {if condition="$settings['is_touchmove'] eq 0"}selected="true"{/if}>不启用</option>
								<option value="1" {if condition="$settings['is_touchmove'] eq 1"}selected="true"{/if}>启用</option>
							</select>
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd"><label class="weui-label">声明内容</label></div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" id="setting_touchmove_text"  placeholder="声明内容" value="{$settings['touchmove_domain']|default='网页由 mp.weixin.qq.com 提供'}"/>
						</div>
					</div>
					


				</div>



		</div>






	</div>

	<div class="weui-cells weui-cells_form">
		<div class="weui-cell">
			<div class="weui-cell__bd">
				{if condition="$_user['email'] eq 'test@qq.com'"}
				<button type="button" class="weui-btn weui-btn_primary" >测试不能保存</button>
				{else/}
				<button type="submit" class="weui-btn weui-btn_primary" >保存</button>
				{/if}
			</div>
		</div>
	</div>
</form>



{/block}<!--end body-->


{block name="footer_js"}

<!--引入JS-->
<script type="text/javascript" src="/static/webuploader/js/webuploader.js"></script>


<script>
var _form_action = '<?php echo \think\Url::build('setting');?>';

$(function(){






	$("#save_form").submit(function(){

		var _data = {
			"name":$("#setting_name").val(),
			"copyright":$("#setting_copyright").val(),
			"beian":$("#setting_beian").val(),
			"is_touchmove":$("#setting_is_touchmove").val(),
			"touchmove_text":$("#setting_touchmove_text").val(),
			"appid":$("#setting_appid").val(),
			"appsecret":$("#setting_appsecret").val(),
			"is_wxpay":$("#setting_is_wxpay").prop("checked") ? 1 : 0,
			"wxpay_mchid":$("#setting_wxpay_mchid").val(),
			"wxpay_key":$("#setting_wxpay_key").val(),
			"wxkefu":$("#setting_wxkefu").val(),
			"wxkefu_aid":$("#setting_wxkefu_aid").val()
		}
		
		_ppsao.showLoading("正在保存");


		$.ajax({
		   type: "POST",
		   url: _form_action,
		   data: _data,
		   dataType:"json",
		   success: function(data){
				_ppsao.hideLoading();

			   if(data.status ==1)
			   {
					_ppsao.toast(data.msg);
			   }else{
					_ppsao.toast(data.msg, "forbidden");
			   }
			  
		   },
		   error:function(){
				_ppsao.hideLoading();
				_ppsao.toast("请求失败，请重试", "forbidden");
		   }
		});

		return false;
	});
	
	

});


//上传
// 添加全局站点信息
var BASE_URL = '/static/webuploader',WX_UPLOAD_URL="<?php echo \think\Url::build('Fileupload/index','op=wxkefu');?>";
// 微信图片上传
jQuery(function() {
    var $ = jQuery,
        state = 'pending',
        uploader;
    uploader = WebUploader.create({
        auto: true,
        // 不压缩image
        resize: false,
        // swf文件路径
        swf: BASE_URL + '/js/Uploader.swf',
        // 文件接收服务端。
        server: WX_UPLOAD_URL,
        accept: {
            title: 'wwei upload',
            extensions: 'gif,jpg,jpeg,png'
            //,mimeTypes: 'image/*,text/*,application/*'
        },
        fileNumLimit: 1,
        fileSizeLimit: 2097152,//2 * 1024 * 1024, 
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker-wxkefu'
    });
 

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
		/*
			$percent.css( 'width', percentage * 100 + '%' );
		*/
    });


    uploader.on( 'uploadSuccess', function( file,resporse ) {

		uploader.removeFile( file );

        if(resporse.error || resporse.id<=0)
        {
            alert(resporse.error.message);
        }else if(resporse.id > 0)
        {
            $("#setting_wxkefu_aid").val(resporse.id);
			$("#setting_wxkefu").val(resporse.file_path);
            $("#prview-wxkefu").css({"backgroundImage":"url('"+resporse.file_path+"')"});
			
            
        }else
        {

            alert("T_T 上传失败，请重新上传");
        }
    });

	




});
</script>
{/block}