{extend name="public/base_admin" /}

{block name="title"}
        <title>{$settings['name']|default='快查云平台'}</title>
        <meta name="keyword" content="">
        <meta name="description" content="">
{/block}
{block name="head"}
<style>

	
</style>
{/block}<!--end head-->

{block name="body"}


<div class="weui-cells__title">修改资料</div>

<div class="weui-cells weui-cells_form">
	<form action="<?php echo \think\Url::build('userinfo');?>" method="post" id="save_form">
	<div class="weui-cell">
		<div class="weui-cell__hd"><label class="weui-label">登陆邮箱</label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="email" id="setting_email"  placeholder="登陆邮箱" value="{$_user.email}"/>
		</div>
	</div>
	<div class="weui-cell weui-cell_warn">
		<div class="weui-cell__hd"><label class="weui-label">登陆密码</label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="password" id="setting_password"  placeholder="登陆密码"/>
		</div>
	</div>
	<div class="weui-cell weui-cell_warn">
		<div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="password" id="setting_password2"  placeholder="登陆密码"/>
		</div>
	</div>
	<div class="weui-cell">
		<div class="weui-cell__bd">
			{if condition="$_user['email'] eq 'test@qq.com'"}
			<button type="button" class="weui-btn weui-btn_primary" >测试不能保存</button>
			{else/}
			<button type="submit" class="weui-btn weui-btn_primary" >保存</button>
			{/if}
		</div>
	</div>
	</form>
</div>




{/block}<!--end body-->


{block name="footer_js"}
<script>
var _form_action = '<?php echo \think\Url::build('userinfo');?>';
$("#save_form").submit(function(){

	var _data = {
		"email":$("#setting_email").val(),
		"password":$("#setting_password").val(),
		"password2":$("#setting_password2").val()
	}
	_ppsao.showLoading("正在保存");


	$.ajax({
	   type: "POST",
	   url: _form_action,
	   data: _data,
	   dataType:"json",
	   success: function(data){
			_ppsao.hideLoading();

		   if(data.status ==1)
		   {
				$("#setting_password").val('');
				$("#setting_password2").val('');
				_ppsao.toast(data.msg);
		   }else{
				_ppsao.toast(data.msg, "forbidden");
		   }
		  
	   },
	   error:function(){
			_ppsao.hideLoading();
			_ppsao.toast("请求失败，请重试", "forbidden");
	   }
	});

	return false;
});
</script>
{/block}