<ul class="template-list">

	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/2mbizgif.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/3mbizgif.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/4mbizgif.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/5mbizgif.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/8mbizgif.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/3zm.jpg">
	</li>

	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif.jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/640_4.png">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif2.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif3.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif4.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/01.png">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/01.jpg">
	</li>
	

	
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif7.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif8.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/6c30531a8c718a37868c4822.gif">
	</li>
	
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif9.gif">
	</li>
	
	
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif1.jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif10.gif">
	</li>
	
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif18.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/02.png">
	</li>

	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/05.jpg">
	</li>

	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/i640.png">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/s640.png">
	</li>
<!--
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif6.gif">
	</li>
	-->

		<!--
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/770.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/772.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/images/773.jpg">
	</li>
	-->

<!--节日的
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(11).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(12).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(13).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(14).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(15).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(16).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(17).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(18).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/0(19).jpg">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif11.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif12.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif13.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif14.gif">
	</li>
	
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif15.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif16.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/mmbizgif17.gif">
	</li>
	<li title="点击插入此内容">
		<img src="{$siet_url}/static/wxeditor/css/03.png">
	</li>
-->

</ul>